<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ganti "nama_projek" sesuai folder project kamu
    RewriteBase /nama_projek/

    # Redirect kalau akses langsung ke index.php
    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Kalau mod_rewrite gak aktif, kasih fallback
    ErrorDocument 404 /index.php
</IfModule>
